<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <div ng-controller="HomeCtrl">
        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
            </li>
        </ul>

        <div>
            <input ng-model="name"><button ng-click="add()">Add</button>
        </div>
    </div>-->
    
    <div ng-controller="NumCtrl">
        <ul>
            <li ng-repeat="element in elements | orderBy:'':true">
                <span>{{element}}</span>
            </li>
        </ul>

        <div>
            <input ng-model="numToAdd"><button ng-click="add()">Add</button>
        </div>
    </div>

    <script src="lib/angular.js"></script>
    <!--<script src="HomeCtrl.js"></script>-->
    <script src="NumCtrl.js"></script>
</body>
</html>
